.outer {
    background-image: url('/yellow.jpg');
    background-size: contain;
    margin-top: 0;
    border: 1px solid #5F0B0B;
    border-radius: 7px;
}

.whole {
    background-color: rgb(252, 238, 157);
    /* background-color: rgb(223, 161, 4); */
    color: black;
    border-radius: 7px; 
    border: 2px solid rgb(150, 7, 7);
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-weight: bold;
    font-family: Palatino Linotype;
    /* color: rgb(150, 7, 7); */
}

#me {
    display: flex;
    align-items: center;
    margin-left: 950px;
    margin-top: 0px;
}

#link {
    color: rgb(150, 7, 7);
    text-align: right;
    font-size: 25px;
    margin-left: 15px;
}

#link:hover {
    color: rgb(66, 7, 7);
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

#svg {
    width: 54px;
    height: 41px;
    margin-top: 12px;
    transform: rotateZ(-5deg);
    margin-right: 10px;
}

h2 {
    /* margin-top: 10px; */
    font-size: 18px;
}

h3 {
    margin-top: -15px;
    font-size: 16px;
}

#top-row {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   margin-left: 10%;
   /* margin-right: 130px; */
}

select {
    border-radius: 5px;
    border: 1px solid black;
}

#percentRange-select {
    text-align-last: center;
}

button {
    border-radius: 5px;
    border: 1px solid black;
    width: 50px;
}

button:hover {
    border-radius: 4px;
    border: 1px solid blue;
    color: blue;
}

#slider-label {
    font-size: 14px;
}

#slider-div {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

#date-slider {
    width: 220px;
    margin-left: 15px;
}

.ui-slider-horizontal {
    height: 4px;
}

.ui-slider .ui-slider-handle{
    width:20px; 
    height:20px; 
    /* background-color: #5F0B0B; */
    /* background-color: gold; */
    background-color: rgb(252, 238, 157);
    background-image: url('/bee.svg'); 
    transform: rotateY(180deg);
    background-size: cover;
    position:absolute;
    border-style:none; 
    z-index: 5;
    margin-top: -5px;
    border: 1px solid #5F0B0B;
    border-radius: 50%;
}

#jquery-buttons {
    margin-left: 10px;
    margin-top: -5px;
    margin-right: 15px;
}

#jquery-buttons button {
   margin-left: 10px;
}


.asterisk {
    margin-top: -28px;   
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 24%;
    /* color: #5F0B0B; */
    color: rgb(150, 7, 7)
}

.asterisk div:nth-child(2) {
    margin-left: 2px;
}

#cite-source {
    text-align: center;
    font-size: 11px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

#artist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

#artist div:nth-child(1) {
    margin-right: 3px;
    margin-top: -1px;
}

#make-italic {
    font-style: italic;
}

#make-underline {
    margin-bottom: 10px;
}

a {
    color: black;
}

a:hover {
    color: purple;
}

#no-data {
    margin-top: 10px;
    /* color: rgb(252, 238, 157); */
    font-size: 12px;
}

#end-comb {
    margin-top: 15px;
    height: 35px;
    width: 47px;
    margin-bottom: 10px;
}