.whole {
    background-color: rgb(223, 161, 4);
    background-image: url('/opaque.jpg');
    background-size: cover;
    color: black;
    border-radius: 7px;
    border: 2px solid #5F0B0B;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: Palatino Linotype;
}

#me {
    display: flex;
    align-items: center;
    margin-left: 1000px;
    margin-top: 20px;
}

#github {
    color: #5F0B0B;
    text-align: right;
    font-size: 25px;
}

#github:hover {
    color: gold;
}

#linkedin {
    color: #5F0B0B;
    text-align: right;
    margin-left: 15px;
    font-size: 25px;
}

#linkedin:hover {
    color: gold;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

img {
    width: 55px;
    height: 37px;
    margin-top: 18px;
    transform: rotateZ(-5deg);
    margin-right: 12px;
}

/* #second-img {
    transform: rotateY(180deg) rotateZ(-4deg);
    margin-top: 19px;
    margin-left: 9px;
} */

h2 {
    margin-top: 30px;
    font-size: 18px;
}

h3 {
    margin-top: -15px;
    font-size: 16px;
}

#top-row {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 25px;
   margin-left: 140px;
   margin-right: 130px;
}

#percentRange-select {
    text-align-last: center;
}

button:hover {
    border-radius: 4px;
    border: 1px solid blue;
    color: blue;
}

#slider-label {
    font-size: 14px;
}

#slider-div {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

#date-slider {
    width: 275px;
    margin-left: 15px;
}

.ui-slider-horizontal {
    height: 4px;
}

.ui-slider .ui-slider-handle{
    width:20px; 
    height:20px; 
    background-color: rgb(252, 238, 157);
    background-image: url('/bee.svg'); 
    transform: rotateY(180deg);
    background-size: cover;
    position:absolute;
    border-style:none; 
    z-index: 5;
    margin-top: -5px;
    border: 1px solid black;
    border-radius: 50%;
}

#jquery-buttons {
    margin-left: 30px;
    margin-top: -5px;
    margin-right: 15px;
}

#jquery-buttons button {
   margin-left: 10px;
}

.legend {
    border: 1px solid black;
}

.asterisk {
    margin-top: -25px;   
    font-size: 13px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 21%;
}

.asterisk div:nth-child(2) {

    margin-left: 2px;
}

#cite-source {
    text-align: center;
    font-size: 12px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
}

#artist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

#artist div:nth-child(1) {
    margin-right: 3px;
    margin-top: -1px;
}

#make-italic {
    font-style: italic;
}

#make-underline {
    margin-bottom: 10px;
}

a {
    color: black;
}

a:hover {
    color: purple;
}

#new-data {
    margin-top: 25px;
    color: blue;
    font-size: 14px;
}

#end-comb {
    height: 35px;
    width: 47px;
}